@model IEnumerable<MileStone2A.Models.Product>

@{
    ViewBag.Title = "Gear";

    var nullValueText = "N/A";
}

<h2>Gear Products</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "ProductDetails", new { id = item.ProductID }, new { @class = "otherlink" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNumber)
        </td>
        <td>
            @if (item.Color == null)
            {
                @nullValueText
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Color)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @if (item.Size == null)
            {
                @nullValueText
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Size)
            }
        </td>
        <td>
            @if (item.Weight == null)
            {
                @nullValueText
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Weight)
            }
        </td>
        <td>
            @if (Session.Count == 0 || Session["Loggedin"].Equals("false"))
                {
                    Html.Raw("");
                }
                else
                { @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "otherlink" });
                }
        </td>
    </tr>
}

</table>
